{% extends 'layouts.admin_main' %}

{% block pagejs %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-red"><i class="fa fa-cloud-upload"></i></span>
	            <div class="info-box-content">
					<span class="info-box-text">{{ project.name }}</span>
					<span class="info-box-text"><i class="fa fa-{{ project.repository_fa_icon }}"></i> {{ project.repository }}</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
        </div>
	</div>
	<div class="row">
		{% for stage in project.stages %}
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">{{ stage.name }}</span>
					</div>
					<a href="{{ url('deployment/stage/' ~ stage.id) }}" class="info-box-footer">
						More + <i class="fa fa-arrow-circle-right"></i>
					</a>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
		{% endfor %}
	</div>
{% endblock %}
